.main 
 .main__group__info
  .main__text__box
   .main__group__name 
    test
   %ul.main__member__list 
    Member :
    %li.main__member 
    もなかアイス
  = link_to '#',class: "edit__button" do  
   Edit
 .main__message__list
  .main__message__list__text__box
   .main__message__list__texts
    .main__message__list__username もなかアイス
    .main__message__list__date 2020年7月7日 14時13分
   .main__message__list__message テスト
 %from.main__message__form
  .main__message__form__box
   %input.main__message__form__box__text{type: "text", placeholder:"type a message"}
   %label.main__message__form__box__image
    =icon('fas', 'image' , class: 'from__icon')
    %input.main__message__form__box__file{type: "file",}
  %input.send-btn{type:"submit",value: 'Send'}
