.sidebar
  .sidebar__name
    .sidebar__name__box
      .sidebar__name__user もなかアイス
      %ul.sidebar__name__icons
        %li
        =link_to"#",class: "far fa-edit" do
          =icon('fab','fa-edit',)
        %li
        =link_to"#",class: "fas fa-cog" do
          =icon('fas','fa-cog')
  .sidebar__group
    .sidebar__group__text
      .sidebar__group__name Techcamp
      .sidebar__group__message まだメッセージがありません。
