.sidebar
  .sidebar__name
    .sidebar__box
      .sidebar__user もなかアイス
      %ul.sidebar__icons
        %li
        =link_to"#",class: "icon-1" do
          =icon('fab','edit',)
        %li
        =link_to "#",class: "icon-2" do
          =icon('fas','cog')
  .sidebar__group
    .sidebar__group__text
      .sidebar__group__name Techcamp
      .sidebar__group__message まだメッセージがありません。

