.sidebar
 .side_name
  .user_name_box
   .Username もなかアイス
   %ul.icons
    %li
     =link_to"#",class: "far fa-edit" do
      =icon('fab','fa-edit',)
    %li
     =link_to"#",class: "fas fa-cog" do
      =icon('fas','fa-cog')
 .side_group_list 
  .group_list_text
   .group_name Techcamp
   .group_message まだメッセージがありません。