.wrapper{
  display: flex;
}
 .sidebar{
   width: 300px;
  }
   &__name{
    height: 100px;
    background-color: #253141;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }
    &__box{
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      color: #ffffff;
    }
      &__user{
        font-size: 16px;
        font-weight: bold;
      }
       &__icons{
          display: flex;
          justify-content: end;}
          .far.fa-edit{
            margin-left: 5px;
          }
          .fas.fa-cog{
            margin-left: 5px;
            display:inline-block;
            text-decoration: none;
          }
  &__group{
    height: calc(100vh - 100px);
    padding: 0 20px;
    background-color: #2f3e51;
    overflow: scroll;
  }
    &__text{
      padding: 20px 0 40px;
      box-sizing: border-box;
    }
      &__name{
        font-size: 15px;
        color: #ffffff;
      }
        &__message{
          font-size: 11px;
          margin-top: 5px;
          color: #ffffff;
        }