*{
  box-sizing: border-box;
}
.wrapper{
  display: flex;
}
.sidebar{
  width: 300px;
  &__name{
    height: 100px;
    background-color: #253141;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }
    &__box{
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      color: #ffffff;
    }
      &__user{
        font-size: 16px;
        font-weight: bold;
      }
        &__icons{
          display: flex;
          justify-content: end;
        }
          .icon-1{
            margin-left: 5px;
            color: #ffffff;
            font-size: 16px;
          }
          .icon-2{
            margin-left: 5px;
            text-decoration: none;
            color: #ffffff;
            font-size: 16px
          ;
          }
  &__group{
  height: calc(100vh - 100px);
  padding: 0 20px;
  background-color: #2f3e51;
  overflow: scroll;
  &__text{
    padding: 20px 0 40px;
    box-sizing: border-box;
  }
    &__name{
      font-size: 15px;
      color: #ffffff;
    }
      &__message{
        font-size: 11px;
        margin-top: 5px;
        color: #ffffff;
      }
  }
}
.main{
  width: calc(100vw - 300px);
  &__group__info{
    height: 100px;
    background-color: #ffffff;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom:solid 1px #eeeeee ;
  }
    &__text__box{
      box-sizing: border-box;
    }
      &__group__name{
        font-size: 20px;
        color: #333333;
        margin-top: 35px;
      }
      &__member__list{
        font-size: 12px;
        color: #999999;
        margin-top: 15px;
        display: flex;
        align-items: center;
        }
      &__member{
        padding-right: 5px;
        }  
        .edit__button{
          display: block;
          border: 1px solid #38AEF0;
          color: #38AEF0;
          height: 40px;
          line-height: 40px;
          margin-top: 28px;
          padding: 0 20px;
          text-decoration: none;
        }
  &__message__list{
    height: calc(100vh - 100px - 90px);
    padding: 35px 40px 0;
    background-color: #fafafa;
    border-top: solid 1px #eeeeee;
    box-sizing: border-box;
    overflow: scroll;
    &__text__box{
    margin-bottom: 46px;
    }
      &__texts{
        display: flex;
      }
        &__username{
          font-size: 16px;
          color: #333333;
        }
        &__date{
          font-size: 12px;
          color: #999999;
        }
      &__message{
        font-size: 14px;
        color: #434A54;
      }
  }
  &__message__form{
    height: 90px;
    padding: 20px 50px 20px 40px;
    background-color: #d2d2d2;
    box-sizing: border-box;
    display: flex;
    &__box{
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      background-color: #fff;
      &__text{
        width: 100%;
        padding: 0 45px 0 15px;
        border: none;
      }
      &__image{
        right: 5px;
      }
      &__file{
        display: none;
      }
  } 
    .send-btn{
      background-color: #38abf0;
      font-size: 16px;
      color: #ffffff;
      padding: 15px 30px;
      margin-left: 15px;
      text-decoration: none;
    }
  }
}
