.wrapper{
  display: flex;
}

.sidebar{
  width: 300px;
  box-sizing: border-box;
}

.side_name{
 height: 100px;
 background-color: #253141;
 padding: 0 20px;
 display: flex;
 align-items: center;
}

.user_name_box{
 height: 20px;
 width: 260px;
 display: flex;
 justify-content: space-between;
 color: #ffffff
}

.icons{
  display: flex;
  justify-content: end;
}

.far.fa-edit{
  margin-left: 5px;
}

.fas.fa-cog{
  margin-left: 5px;
 display:inline-block;
 text-decoration: none;
}  

.side_group_list{
  height: calc(100vh - 100px);
  padding: 0 20px;
  background-color: #2f3e51;
  overflow: scroll;
}

.group_list_text{
  padding: 20px 0 40px;
  box-sizing: border-box;
}

.group_name{
  font-size: 15px;
  color: #ffffff;
}

.group_message{
  font-size: 11px;
  margin-top: 5px;
  color: #ffffff;
}

.chat-main{
  width: calc(100vw - 300px);
}

.main_group_info{
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom:solid 1px #eeeeee ;
}

.info_text_box{
 box-sizing: border-box;
}

.edit__button{
  display: block;
  border: 1px solid #38AEF0;
  color: #38AEF0;
  height: 40px;
  line-height: 40px;
  margin-top: 28px;
  padding: 0 20px;
  text-decoration: none;
}

.main_group_name{
  font-size: 20px;
  color: #333333;
  margin-top: 35px;
}

.menber_list{
  font-size: 12px;
  color: #999999;
  margin-top: 15px;
}

.menber{
  font-size: 13px;

}

.main_message_list{
  height: calc(100vh - 100px - 90px);
  padding: 35px 40px 0;
  background-color: #fafafa;
  border-top: solid 1px #eeeeee;
  box-sizing: border-box;
}

.message_text_box{
  margin-bottom: 46px;
}

.message_text{
  display: flex;
  margin-top: 35px;
}

.message_text_username{
  font-size: 16px;
  color: #333333;
}

.message_text_date{
  font-size: 12px;
  color: #999999;
}

.message{
  font-size: 14px;
  color: #434A54;
  margin-top: 12px;
}

.main_message_from{
  height: 90px;
  padding: 20px 50px 20px 40px;
  background-color: #d2d2d2;
  box-sizing: border-box;
  display: flex;
} 

.message_from_box{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.form_box_text{
  width: 100%;
  padding: 0 45px 0 15px;
  border: none;
}

.input-box__image{
  position: absolute;
  right: 5px;
}

.input-box__image__file{
  display: none;
}
.send-btn{
  background-color: #38abf0;
  font-size: 16px;
  color: #ffffff;
  padding: 15px 30px;
  margin-left: 15px;
  text-decoration: none;
}